version: '3.2'

services:
  whmcs:
    build: ./whmcs_7
    volumes:
      - "/some/dir/whmcs/web:/usr/share/nginx"
    ports:
    - "80:8086"

  db:
    image: mariadb
    restart: always
    volumes:
      - "/some/dir/whmcs/db:/var/lib/mysql"
    environment:
      MYSQL_DATABASE: whmcs
      MYSQL_USER: whmcs
      MYSQL_PASSWORD: SOMEDBPASSWORD
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
